runs/clean
runs/Plots
runs/slurm*
Runs
.DS_Store
*egg-info
.eggs
__pycache__/
build/
dist/
NR_data/Teukolsky_data
bayRing/*.c
bayRing/*.h
bayRing/*.pyc
bayRing/*.so
scripts/*.pyc
scripts/Plots_varying_t*
scripts/Plots_tail_varying_t*
