# Documentation build requirements.
sphinx==3.4.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinx_rtd_theme==0.5.1
myst_parser==0.17.2
jinja2==3.0.0
standard-imghdr
setuptools<81
